body {
    background-image: url("room_background.png");
    background-repeat: no-repeat;
    width: 1366px;
    height: 768px;
    background-size: 100%;
}

.room {
    position: relative;
}

ul {
    position: relative;
}

li {
    position:absolute;
    top: 0;
    left: 0;
}

.easel {
    margin-left: 57.5vw;
    margin-top: 2.5vw;
    width: 21vw;
    height: auto;
}

.journal {
    margin-left: 285%;
    margin-top: 443%;
    width: 137%;
    height: auto;
}

.printer {
    margin-left: 450%;
    margin-top: 198%;
    width: 135%;
    height: auto;
}

.laptop {
    margin-left: 155%;
    margin-top: 127%;
    width: 134%;
    height: auto;
}

.easel .journal .printer .laptop {
    position: relative;
}