body {
    background-image: url("room_background.png");
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    background-size: 100%;
}

.room {
    position: relative;
}

ul {
    position: relative;
}

li {
    position:absolute;
    top: 0;
    left: 0;
}

.easel {
    margin-left: 57.5vw;
    margin-top: 2.5vw;
    width: 21vw;
    height: auto;
}

.journal {
    margin-left: 14.5vw;
    margin-top: 22.5vw;
    width: 7vw;
    height: auto;
    z-index: 2;
}

.printer {
    margin-left: 76.5vw;
    margin-top: 34vw;
    width: 23vw;
    height: auto;
}

.laptop {
    margin-left: 19.6vw;
    margin-top: 16vw;
    width: 16vw;
    height: auto;
}

.easel .journal .printer .laptop {
    position: relative;
}